body {
  padding: 5px 10px;
  background-color:#fff;
  margin: 0 auto;
  height:100%;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  color:@text-color;
  font:15px @sans-font;
  line-height:1.4;
  -webkit-font-smoothing:antialiased;
}

@media screen and (min-width: 960px) {
  body {
    width: 960px;
  }
}


ul, ol {
  margin-top: -0.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: @heading-color;
}
a,a:visited {
  color: @link-color;
  text-decoration:none;
  &:hover {
    text-decoration:underline;
  }
}

blockquote {
  border-left: 3px solid #dedede;
  padding:0px 10px;
  margin:10px 0;
  font-style: italic;
}

dl {
  margin-left: 5px;

  dt {
    font-weight: bold;
  }
}

code {
  .mix-inline-box(@light-gray, @dark-gray, @gray);
  font-family: @monospace-font;
  font-size: 80%;
}

kbd {
  .mix-inline-box(@light-gray, @dark-gray, @gray);
  font-weight: bold;
  border-right: 1px solid @dark-gray;
  border-bottom: 1px solid @dark-gray;
}


pre {
  .mix-box(@light-gray, @dark-gray, @gray);
  font-family: @monospace-font;
  code {
    box-shadow: none;
    padding: 0;
    border: none;
  }
}


table {
  .mix-box(transparent, @dark-gray, @gray);
  border-collapse:collapse;
  margin: 0.2em auto;
  border-spacing:0;
  empty-cells:show;
  thead {
    background:#e0e0e0;
    color:#222;
    text-align:left;
    vertical-align:bottom;
  }
  td, th {
    background-color:transparent;
    border:1px solid #cbcbcb;
    font-size:inherit;
    margin:0;
    overflow:visible;
    padding:6px 12px;
  }
}
