// TODO

.note {
  .mix-box(@light-blue, @dark-blue, @dark-blue);
  p {
    margin-top: 0;
    margin-bottom: 0;

    &:first-child {
      font-size: 105%;
      font-weight: bold;
      color: @dark-blue;
      .mix-symbol(@fa-var-thumb-tack, @dark-blue)
    }
  }
}

.tip {
  .mix-box(@light-green, @dark-green, @dark-green);
  p {
    margin-top: 0;
    margin-bottom: 0;

    &:first-child {
      font-size: 105%;
      font-weight: bold;
      color: @dark-green;
      .mix-symbol(@fa-var-lightbulb-o, @dark-green)
    }
  }
}

.warning {
  .mix-box(@light-red, @dark-red, @dark-red);
  p {
    margin-top: 0;
    margin-bottom: 0;

    &:first-child {
      font-size: 105%;
      font-weight: bold;
      color: @dark-red;
      .mix-symbol(@fa-var-exclamation-triangle, @dark-red)
    }
  }
}

.sidebar {
  .mix-box(@light-gray, @gray-5, @gray-5);
  p {
    margin-top: 0;
    margin-bottom: 0;

    &:first-child {
      font-size: 105%;
      font-weight: bold;
      color: @gray-4;
      .mix-symbol(@fa-var-info-circle, @gray-4)
    }
  }
}

.note, .warning, .tip {
  width: 66.6667%;
}

@media screen and (max-width: 599px) {
  .note, .warning {
    width: 96%;
  }
}
@media screen and (min-width: 600px) {
  .note, .warning {
    width: 66.6667%;
  }
}
